body {
            font-family: Arial, sans-serif;
            margin: 20px;
            text-align: center;
            background-color:violet;
            text-color:white;
            padding:20px;
            text-align:centre;
            border-line-color:purple;
            border-line-size:2px;
        }
        nav {
            background-color: #333;
            padding: 10px;
        }
        nav a {
            color: white;
            margin: 15px;
            text-decoration: none;
            font-size: 18px;
        }
        .hero {
            padding: 50px;
            background-color: #f4f4f4;
        }
        .hero img {
            width: 150px;
            border-radius: 50%;
        }
        section {
            padding: 50px;
        }
        footer {
             background-color:#333;
             color:white;
             text-align:center;
             padding:10 px;
             bottom:0;
             width:100 %;
       }
